:root {
    --ppink: #F7C8E0;
    --pgreen: #DFFFD8;
    --plightblue: #B4E4FF;
    --pblue: #95BDFF;
    --pblack: #272932;
    --pwhite: #F6F5F0;
}

@font-face {
    font-family: "SmileCandy";
    src: url("/resources/SmileCandy.ttf");
}

@font-face {
    font-family: "Aptos";
    src: url("/resources/aptos-light.ttf");
}

html {
    font-family: Aptos, sans-serif;
    text-align: center;
}

body {
    margin: 0;
}

main {
    margin: 0;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    height: 100vh;
    width: 100vw;
}

section {
    height: 100%;
    width: 100%;
    background: rgb(247, 200, 224);
    background: radial-gradient(circle,
    rgba(247, 200, 224, 1) 4%,
    rgba(239, 218, 221, 1) 19%,
    rgba(232, 234, 219, 1) 37%,
    rgba(228, 245, 218, 1) 47%,
    rgba(225, 250, 217, 1) 54%,
    rgba(223, 255, 216, 1) 64%,
    rgba(180, 228, 255, 1) 84%);

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "SmileCandy", sans-serif;
    font-size: 8rem;
    font-weight: lighter;
    color: var(--pblack);

    margin: 0;

    -webkit-text-stroke: 2px var(--ppink);

    user-select: none;
}

button {
    aspect-ratio: 1;
    height: 4rem;
    border-radius: 50%;
    border: none;
    background-color: var(--pwhite);

    cursor: pointer;

    position: fixed;
    bottom: 6rem;
}

.menu {
    z-index: 10;
}

.hb {
    stroke: var(--pblack)
}

.menudiv {
    visibility: hidden;
    position: absolute;
    top: 85%;
    left: 50%;

    border-radius: 50%;

    width: 1px;
    height: 1px;

    transition: width, height, top, left, bottom, 0.75s ease;
}

.open {
    visibility: visible;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--plightblue);
}

.headers {
    font-size: 3rem;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--pblack);

    opacity: 0;

    position: absolute;
    left: 45%;

    transition: opacity 0.5s 0.1s, transform 0.5s;
}

.headers:hover {
    transform: scale(1.3);
}

.top {
    display: none;
}